.sidebar__user-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 16px;
}

.sidebar__username {
  font-size: 20px;
  line-height: 1;
  font-weight: 700;
  margin: 0;
}

.sidebar__avatar {
  height: 56px;
  width: 56px;
}
